In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import urllib
import json

In [17]:
link = r'https://openblocklabs-interview-datasets.s3.amazonaws.com/market_depth/ekubo_market_depth_dataset.parquet'

In [18]:
df = pd.read_parquet(link, engine='pyarrow')

In [32]:
df.shape

(3024741, 22)

In [19]:
df.head()

,BLOCK_NUMBER,BLOCK_TIMESTAMP,TX_HASH,TX_ID,POOL_ID,TOKEN0_ADDRESS,TOKEN1_ADDRESS,EVENT_NAME,FROM_ADDRESS,TO_ADDRESS,...,TOKEN0_REAL_AMOUNT,TOKEN1_RAW_AMOUNT,TOKEN1_DECIMALS,TOKEN1_REAL_AMOUNT,FEE_TIER,LIQUIDITY_AMOUNT,LOWER_TICK,UPPER_TICK,SWAP_TICK,TICK_SPACING
0,328311,2023-10-16 15:58:15,0x068ae08b780c44b6d5674540a49bbda991410bcd3ae8...,5461067_0_328311_98,0x00000005dd3d2f4429af886cd1a3b08289dbcea99a29...,0x053c91253bc9682c04929ca02ed00b3e423f6710d2ee...,0x068f5c6a61780768455de69077e07e89787839bf8166...,Mint,0x0372a7f547471e9fa006dc945d5c10b2a80478ca7e35...,0x00000005dd3d2f4429af886cd1a3b08289dbcea99a29...,...,-0.079991999999999993664623332279,-80000,6,-0.080000000000000001665334536938,0.0005,8039644,-20000,20000,0,1000
1,328253,2023-10-16 15:05:36,0x00bdc788d3ce6493eb7adefba441fe4e044a21d1d0f6...,5461067_0_328253_212,0x00000005dd3d2f4429af886cd1a3b08289dbcea99a29...,0x053c91253bc9682c04929ca02ed00b3e423f6710d2ee...,0x068f5c6a61780768455de69077e07e89787839bf8166...,Mint,0x04e64ccbadc967b4f14b16b6015ae18a4e50026f3cd1...,0x00000005dd3d2f4429af886cd1a3b08289dbcea99a29...,...,-82.087671999999997751729097217321,-82095379,6,-82.095378999999994107383827213198,0.0005,8250270816,-20000,20000,0,1000
2,328269,2023-10-16 15:23:34,0x03b06aff66afbc79d2e5c2a48919d4c773ef589e7ead...,5461067_0_328269_137,0x00000005dd3d2f4429af886cd1a3b08289dbcea99a29...,0x049d36570d4e46f48e99674bd3fcc84644ddd6b96f7c...,0x053c91253bc9682c04929ca02ed00b3e423f6710d2ee...,Mint,0x04c7b913ce8d1d7a0bfcdad2546abfdb657958660a06...,0x00000005dd3d2f4429af886cd1a3b08289dbcea99a29...,...,-0.000632340897114350044931618822,-997738,6,-0.997738000000000013756107364316,0.0005,2524377067828,-20284000,-20244000,0,1000
3,328545,2023-10-16 20:56:28,0x034398a7788f3a78c60956da2d128c56b21491b36f0e...,5461067_0_328545_149,0x00000005dd3d2f4429af886cd1a3b08289dbcea99a29...,0x049d36570d4e46f48e99674bd3fcc84644ddd6b96f7c...,0x053c91253bc9682c04929ca02ed00b3e423f6710d2ee...,Mint,0x05022bef5db6faded63797c25dc1834ebb7936347894...,0x00000005dd3d2f4429af886cd1a3b08289dbcea99a29...,...,-0.000641968862647891952248613290,-1000000,6,-1.000000000000000000000000000000,0.0005,2546541156515,-20279000,-20239000,0,1000
4,328205,2023-10-16 13:42:10,0x051ca2db4564744fc6de3545e34e2f623a302d085cc1...,5461067_0_328205_41,0x00000005dd3d2f4429af886cd1a3b08289dbcea99a29...,0x053c91253bc9682c04929ca02ed00b3e423f6710d2ee...,0x068f5c6a61780768455de69077e07e89787839bf8166...,Mint,0x054526db0dbc4db39941a6c31d90df72b4f940ef3c59...,0x00000005dd3d2f4429af886cd1a3b08289dbcea99a29...,...,-105.941124000000002070009941235185,-106177367,6,-106.177367000000003827153705060482,0.0005,10659047790,-20000,20000,0,1000

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3024741 entries, 0 to 3024740
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   BLOCK_NUMBER        object
 1   BLOCK_TIMESTAMP     datetime64[ms]
 2   TX_HASH             object
 3   TX_ID               object
 4   POOL_ID             object
 5   TOKEN0_ADDRESS      object
 6   TOKEN1_ADDRESS      object
 7   EVENT_NAME          object
 8   FROM_ADDRESS        object
 9   TO_ADDRESS          object
 10  TOKEN0_RAW_AMOUNT   object
 11  TOKEN0_DECIMALS     object
 12  TOKEN0_REAL_AMOUNT  object
 13  TOKEN1_RAW_AMOUNT   object
 14  TOKEN1_DECIMALS     object
 15  TOKEN1_REAL_AMOUNT  object
 16  FEE_TIER            float32
 17  LIQUIDITY_AMOUNT    object
 18  LOWER_TICK          object
 19  UPPER_TICK          object
 20  SWAP_TICK           object
 21  TICK_SPACING        object
dtypes: datetime64[ms](1), float32(1), object(20)
memory usage: 496.2+ MB

In [23]:
df.describe()

                  BLOCK_TIMESTAMP      FEE_TIER
count                     3024741  3.024741e+06
mean   2023-12-10 19:03:43.469000  7.732818e-04
min           2023-08-21 18:06:57  0.000000e+00
25%           2023-10-16 21:16:21  1.000000e-04
50%           2023-12-03 07:19:02  5.000000e-04
75%           2024-02-04 11:14:27  5.000000e-04
max           2024-02-25 03:57:43  5.000000e-02
std                           NaN  2.294509e-03

In [35]:
df[df.columns[10:]] = df[df.columns[10:]].astype(float)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3024741 entries, 0 to 3024740
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   BLOCK_NUMBER        object
 1   BLOCK_TIMESTAMP     datetime64[ms]
 2   TX_HASH             object
 3   TX_ID               object
 4   POOL_ID             object
 5   TOKEN0_ADDRESS      object
 6   TOKEN1_ADDRESS      object
 7   EVENT_NAME          object
 8   FROM_ADDRESS        object
 9   TO_ADDRESS          object
 10  TOKEN0_RAW_AMOUNT   float64
 11  TOKEN0_DECIMALS     float64
 12  TOKEN0_REAL_AMOUNT  float64
 13  TOKEN1_RAW_AMOUNT   float64
 14  TOKEN1_DECIMALS     float64
 15  TOKEN1_REAL_AMOUNT  float64
 16  FEE_TIER            float64
 17  LIQUIDITY_AMOUNT    float64
 18  LOWER_TICK          float64
 19  UPPER_TICK          float64
 20  SWAP_TICK           float64
 21  TICK_SPACING        float64
dtypes: datetime64[ms](1), float64(12), object(9)
memory usage: 507.7+ MB